[user]
    name = Josh Haines
    email = Josh@JoshHaines.com
  	signingkey = 24030EE0FF40D4B6!
[core]
    excludesfiles = ~/.gitignore_global
    editor = nvim
	autocrlf = input
[pull]
    rebase = true
[commit]
	gpgsign = true
[init]
    defaultBranch = main
[fetch]
    prune = true
[diff]
    colorMoved = zebra
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[push]
	default = current
	autoSetupRemote = true
