nvim/.config/nvim/undodir/*
nvim/.config/nvim/plugged/*
nvim/.config/nvim/plugin/
.dccache

fish/.config/fish/fish_variables
fish/.config/fish/functions/tide/configure
fish/.config/fish/functions/_tide_1_line_prompt.fish
fish/.config/fish/functions/_tide_2_line_prompt.fish
fish/.config/fish/functions/_tide_cache_variables.fish
fish/.config/fish/functions/_tide_detect_os.fish
fish/.config/fish/functions/_tide_find_and_remove.fish
fish/.config/fish/functions/_tide_item_aws.fish
fish/.config/fish/functions/_tide_item_character.fish
fish/.config/fish/functions/_tide_item_chruby.fish
fish/.config/fish/functions/_tide_item_cmd_duration.fish
fish/.config/fish/functions/_tide_item_context.fish
fish/.config/fish/functions/_tide_item_crystal.fish
fish/.config/fish/functions/_tide_item_docker.fish
fish/.config/fish/functions/_tide_item_git.fish
fish/.config/fish/functions/_tide_item_go.fish
fish/.config/fish/functions/_tide_item_java.fish
fish/.config/fish/functions/_tide_item_jobs.fish
fish/.config/fish/functions/_tide_item_kubectl.fish
fish/.config/fish/functions/_tide_item_nix_shell.fish
fish/.config/fish/functions/_tide_item_node.fish
fish/.config/fish/functions/_tide_item_os.fish
fish/.config/fish/functions/_tide_item_php.fish
fish/.config/fish/functions/_tide_item_private_mode.fish
fish/.config/fish/functions/_tide_item_rustc.fish
fish/.config/fish/functions/_tide_item_shlvl.fish
fish/.config/fish/functions/_tide_item_status.fish
fish/.config/fish/functions/_tide_item_terraform.fish
fish/.config/fish/functions/_tide_item_time.fish
fish/.config/fish/functions/_tide_item_toolbox.fish
fish/.config/fish/functions/_tide_item_vi_mode.fish
fish/.config/fish/functions/_tide_item_virtual_env.fish
fish/.config/fish/functions/_tide_parent_dirs.fish
fish/.config/fish/functions/_tide_print_item.fish
fish/.config/fish/functions/_tide_pwd.fish
fish/.config/fish/functions/_tide_remove_unusable_items.fish
fish/.config/fish/functions/_tide_sub_bug-report.fish
fish/.config/fish/functions/_tide_sub_configure.fish
fish/.config/fish/functions/tide.fish
fish/.config/fish/functions/fish_mode_prompt.fish
fish/.config/fish/functions/fish_prompt.fish
fish/.config/fish/functions/fisher.fish
fish/.config/fish/conf.d/_tide_init.fish
lazygit/.config/lazygit/state.yml
jetbrains/.config/JetBrains/WebStorm2022.3/tasks
jetbrains/.config/JetBrains/WebStorm2022.3/workspace
jetbrains/.config/JetBrains/WebStorm2022.3/plugin_PCWMP.license
jetbrains/.config/JetBrains/WebStorm2022.3/settingsSync
jetbrains/.config/JetBrains/WebStorm2022.3/webstorm.key
jetbrains/.config/JetBrains/WebStorm2022.3/event-log-metadata/fus/events-scheme.json
jetbrains/.config/JetBrains/WebStorm2022.3/options/actionSummary.xml
jetbrains/.config/JetBrains/WebStorm2022.3/options/github-copilot.local.xml
jetbrains/.config/JetBrains/Fleet
jetbrains/.config/JetBrains/JetBrainsGateway2022.3
jetbrains/.config/JetBrains/WebStorm2022.3/options
jetbrains/.config/JetBrains/WebStorm2022.3/port
jetbrains/.config/JetBrains/WebStorm2022.3/updatedBrokenPlugins.db
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/tasks
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/workspace
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/disabled_plugins.txt
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/disabled_update.txt
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/early-access-registry.txt
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/host_platform.txt
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168/settingsSync
jetbrains/.config/JetBrains/JetBrainsClient223.7571.168
jetbrains/.config/JetBrains/WebStorm2022.3/plugin_PEXTRAICONS.license
jetbrains/.config/JetBrains/WebStorm2023.1/codestyles/Default.xml
jetbrains/.config/JetBrains/WebStorm2023.1/colors
jetbrains/.config/JetBrains/WebStorm2023.1/event-log-metadata/fus
jetbrains/.config/JetBrains/WebStorm2023.1/javascript/extLibs
jetbrains/.config/JetBrains/WebStorm2023.1/jba_config
jetbrains/.config/JetBrains/WebStorm2023.1/options
jetbrains/.config/JetBrains/WebStorm2023.1/settingsSync
jetbrains/.config/JetBrains/WebStorm2023.1/tasks
jetbrains/.config/JetBrains/WebStorm2023.1/workspace
jetbrains/.config/JetBrains/WebStorm2023.1/.lock
jetbrains/.config/JetBrains/WebStorm2023.1/bundled_plugins.txt
jetbrains/.config/JetBrains/WebStorm2023.1/disabled_plugins.txt
jetbrains/.config/JetBrains/WebStorm2023.1/disabled_update.txt
jetbrains/.config/JetBrains/WebStorm2023.1/early-access-registry.txt
jetbrains/.config/JetBrains/WebStorm2023.1/plugin_PCWMP.license
jetbrains/.config/JetBrains/WebStorm2023.1/plugin_PEXTRAICONS.license
jetbrains/.config/JetBrains/WebStorm2023.1/updatedBrokenPlugins.db
jetbrains/.config/JetBrains/WebStorm2023.1/user.web.token
jetbrains/.config/JetBrains/WebStorm2023.1/webstorm.key
inkdrop/.config/inkdrop/Cache/Cache_Data
inkdrop/.config/inkdrop/Code Cache
inkdrop/.config/inkdrop/Crashpad
inkdrop/.config/inkdrop/DawnCache
inkdrop/.config/inkdrop/Dictionaries
inkdrop/.config/inkdrop/GPUCache
inkdrop/.config/inkdrop/Local Storage/leveldb
inkdrop/.config/inkdrop/Session Storage
inkdrop/.config/inkdrop/blob-store
inkdrop/.config/inkdrop/compile-cache
inkdrop/.config/inkdrop/db
inkdrop/.config/inkdrop/packages
inkdrop/.config/inkdrop/Cookies
inkdrop/.config/inkdrop/Cookies-journal
inkdrop/.config/inkdrop/Network Persistent State
inkdrop/.config/inkdrop/TransportSecurity
inkdrop/.config/inkdrop/account
inkdrop/.config/inkdrop/encryption-key
inkdrop/.config/inkdrop/plugin-updates-cache.json
inkdrop/.config/inkdrop/SingletonCookie
inkdrop/.config/inkdrop/SingletonLock
inkdrop/.config/inkdrop/SingletonSocket
inkdrop/.config/inkdrop/.ipm/.ipmrc
jetbrains/.config/JetBrains/WebStorm2023.2/colors
jetbrains/.config/JetBrains/WebStorm2023.2/event-log-metadata/fus
jetbrains/.config/JetBrains/WebStorm2023.2/javascript/extLibs
jetbrains/.config/JetBrains/WebStorm2023.2/jba_config
jetbrains/.config/JetBrains/WebStorm2023.2/keymaps
jetbrains/.config/JetBrains/WebStorm2023.2/options
jetbrains/.config/JetBrains/WebStorm2023.2/settingsSync
jetbrains/.config/JetBrains/WebStorm2023.2/tasks
jetbrains/.config/JetBrains/WebStorm2023.2/workspace
jetbrains/.config/JetBrains/WebStorm2023.2/bundled_plugins.txt
jetbrains/.config/JetBrains/WebStorm2023.2/disabled_plugins.txt
jetbrains/.config/JetBrains/WebStorm2023.2/disabled_update.txt
jetbrains/.config/JetBrains/WebStorm2023.2/early-access-registry.txt
jetbrains/.config/JetBrains/WebStorm2023.2/plugin_PCWMP.license
jetbrains/.config/JetBrains/WebStorm2023.2/plugin_PEXTRAICONS.license
jetbrains/.config/JetBrains/WebStorm2023.2/updatedBrokenPlugins.db
jetbrains/.config/JetBrains/WebStorm2023.2/user.web.token
jetbrains/.config/JetBrains/WebStorm2023.2/webstorm.key
\
\
inkdrop/.config/inkdrop